<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Oricutron</string>
	<key>CFBundleIconFile</key>
	<string>winicon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Oricutron</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>@@VERSION@@</string>
	<key>CFBundleName</key>
	<string>Oricutron</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>@@VERSION@@</string>
	<key>NSMainNibFile</key>
	<string>SDLMain</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
