;
; Example config file for Oricutron
;

;                 ----------------------------------

; ROM files. (NOTE: For roms, DO NOT include the ".rom" file
; extension. These are added automatically.
; If a file with the same name, but with a ".sym" extension
; is found, symbols will be loaded from it and used in the
; debugger when the ROM in question is active.

; Filename of Oric Atmos ROM
;atmosrom = 'roms/basic11b'

; Filename of the Oric-1 ROM
;oric1rom = 'roms/basic10'

; Filename of the Microdisc ROM
;mdiscrom = 'roms/microdis'

; Filename of the Jasmin ROM
;jasmnrom = 'roms/jasmin'

; Filename of ROMs for the telestrat banks
;telebank0 = ''
;telebank1 = ''
;telebank2 = ''
;telebank3 = ''
;telebank4 = ''
;telebank5 = 'roms/teleass'
;telebank6 = 'roms/hyperbas'
;telebank7 = 'roms/telmon24'

;                 ----------------------------------

; Type of machine to emulate (atmos, oric1, oric1-16k, telestrat)

machine = atmos

;                 ----------------------------------

; Type of disk controller (none, microdisc, jasmin)
disktype = none

;                 ----------------------------------

; Start with this disk in drive 0 (backslash is an escape char to insert
; quotes, so double backslash is required to insert a backslash. You can use
; forward slash as a path seperator, even on windows.
;diskimage = 'disks/barbitoric.dsk'

;                 ----------------------------------

; Default path for tapes
;tapepath = 'tapes'

; Default path for atmos/oric-1 disks
;diskpath = 'disks'

; Default path for telestrat disks
;telediskpath = 'teledisks'

;                 ----------------------------------

; Start with this tape inserted
;tapeimage = 'tapes/cyclotron.tap'

;                 ----------------------------------

; Load these symbols into the debugger
;symbols = 'd:/osdk/my project/build/symbols'

;                 ----------------------------------

; Start fullscreen?
fullscreen = no

;                 ----------------------------------

; Tell SDL to use a hardware surface? (might increase speed in fullscreen, or
; it might do nothing, or it might make it worse).
hwsurface = no

;                 ----------------------------------

; Start Oricutron in the debugger? (yes/no)
debug = no
